:root {
    --blue-100: hsl(176, 100%, 50%);
    --blue-76: hsl(181, 76%, 50%);
    --blue-40: hsl(190, 100%, 40%);

    --violet-21: hsl(270, 96%, 21%);
    --violet-29: hsl(276, 91%, 29%);

    --primary: var(--violet-21);
    --secondary: var(--violet-29);
}

@media (prefer-color-scheme: dark) {
    :root {}
}

.btn-primary {
    background-color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}