.flight-location {
    gap: 2rem;
}

.flight-duration {
    border-bottom: 0.1rem solid var(--border-color);
}

.flight-path {
    width: 40%;
}

.price-badge {
    width: 15rem;

    display: flex;
    justify-content: space-between;
}

.ticket-container {
    background-color: rgb(225, 182, 237);
}


@media screen and (max-width: 769px) {

    .ticket {
        flex-direction: column-reverse;
    }
}