.flight-location {
    gap: 2rem;
}

.flight-path {
    width: 40%;
}

@media screen and (max-width: 426px) {

    .card-body {
        flex-direction: column-reverse;
    }

    .flight-location {
        flex-direction: column;
        align-items: center !important;
    }
}