.container4 {
    margin: 0px 0;
}

.centeralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    flex-grow: 1;
}


.btn-google {
    color: #545454;
background-color: #ffffff;
box-shadow: 0 1px 2px 1px #ddd;
}


.accordion-sh{
    color: var(--font-color);
    background-color: var(--background);
    
}